#bodyIndex{
    margin: 0px 0px;
    background-image: url('imagenes/ICE_RENDER0004.png');
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    position: relative;
    min-height: 600px;
}

body{
    margin: 0px 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 1000px;
}

header{
    height: 50px;
    background-color: black;
    border-bottom: 1px solid white;

}

.headerWithMe{
    position: fixed;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid white;
    z-index: 1;
}

.header-left{
    display: inline-block;
    width: 500px;
    margin-left: 100px;
    height: 100%;
}

.header-left a{
    text-decoration: none;
}

.header-middle{
    display: inline-block;
    width: 300px;
}
.buscador{
    width: 300px;
    border: none;
    border-bottom: 1px solid orange;
    background-color: black;
    font: bold 12px "Open Sans";
    color: white;
}



.header-left a{
    display: inline-block;
    height: 31px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    color: white;
    font: bold 15px "Open Sans";
}

.nombre{
    padding-top: 35px;
    padding-left: 55px;
}

.nombre p{
    font: 19px "Open Sans";
    color: white;
    margin-bottom: -10px;
}

.nombre h1{
    color:white;
    font: bold 30px "Open Sans";
    margin-top: 0px;
}

.nombre h1 span{
    color: white;
    font: bolder 30px "Open Sans";
  text-shadow: 1px  0px 0px white,
               0px  1px 0px white,
              -1px  0px 0px white,
               0px -1px 0px white;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
    height: 120px;
}
.footer-left{
    display: inline-block;
    float: left;
    color: white;
    font: bolder 11px "Open Sans";
    margin-left: 12px;
}

.footer-right{
    display: inline-block;
    float: right;
    width: 60%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.15);
    color: black;

}
.footer-right img{
    height: 100%;
    display: inline-block
}

.footer-right-text h1{
    display:block;
    vertical-align: top;
    font: bold 13px "Open Sans";
    color:white;
    background-color:black;
    width: 110px;
    text-align: center;
    margin-bottom: 0px;
}

.footer-right-text p{
    display:block;
    font: bold 13px "Open Sans";
    color:white;
    margin: 0px;
}
.footer-right-image{
    display:inline-block;
    height: 100%;
}
.footer-right-text{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.fotoAutor{
    position: sticky;
    display: inline-block;
    width: 33%;
    margin-top: -50;
    z-index: -1;
}

.fotoElias{
    width:100%;
}
#actualPage {
    border-bottom: 5px solid orange;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 400px;
}

#textWithMe{
    width: 65%;
    display: inline-block;
    color: white;
}