
body{
    margin: 0px 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    position: relative;
    min-height: 600px;
    background-image: url('./../media/imagenes/ICE_RENDER0004.png');
}


/* Header */

header{
    height: 50px;
    background-color: black;
    border-bottom: 1px solid white;

}

.headerWithMe{
    position: fixed;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid white;
    z-index: 1;
}

nav{
    display: inline-block;
    height: 100%;
    width: 40%;
    padding-left: 50px;
}

nav ul {
  margin: 0;
  height: 100%;
  display: flex;
}

nav li {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

nav li a{
    display: block;
    text-decoration: none;
    display: inline-block;
    color: white;
    font: bold 1em "Open Sans";
    line-height: 51px;
    padding: 0em 1.7em;
}

#actual-page {
    border-bottom: 5px solid orange;
}

input[type="search"]{
    width: 300px;
    border: none;
    border-bottom: 1px solid orange;
    background-color: black;
    font: bold 12px "Open Sans";
    color: white;
}

header form {
  display:inline-block;
}

input[type="search"]:focus {
  outline:none;
}

input[type="submit"].btn-buscar {
  font-size: 2em;
  color: orange;
  background: none;
  border: none;

}


.nombre{
    padding-top: 35px;
    padding-left: 55px;
}

.nombre p{
    font: 19px "Open Sans";
    color: white;
    margin-bottom: -10px;
}

.nombre h1{
    color:white;
    font: bold 30px "Open Sans";
    margin-top: 0px;
}

.nombre h1 span{
    color: white;
    font: bolder 30px "Open Sans";
  text-shadow: 1px  0px 0px white,
               0px  1px 0px white,
              -1px  0px 0px white,
               0px -1px 0px white;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
    height: 120px;
}
.footer-left{
    display: inline-block;
    float: left;
    color: white;
    font: bolder 11px "Open Sans";
    margin-left: 12px;
}

.footer-right{
    display: inline-block;
    float: right;
    width: 60%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.15);
    color: black;

}
.footer-right img{
    height: 100%;
    display: inline-block
}

.footer-right-text h1{
    display:block;
    vertical-align: top;
    font: bold 13px "Open Sans";
    color:white;
    background-color:black;
    width: 110px;
    text-align: center;
    margin-bottom: 0px;
}

.footer-right-text p{
    display:block;
    font: bold 13px "Open Sans";
    color:white;
    margin: 0px;
}
.footer-right-image{
    display:inline-block;
    height: 100%;
}
.footer-right-text{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.fotoAutor{
    position: sticky;
    display: inline-block;
    width: 33%;
    margin-top: -50;
    z-index: -1;
}

.fotoElias{
    width:100%;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 400px;
}

#textWithMe{
    width: 65%;
    display: inline-block;
    color: white;
}
