html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body#about-me, body#contact-me {
  margin: 0px 0px;
  background-color: black;
  background-image: none;
}

body#home {
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  background-image: url('./../media/imagenes/ICE_RENDER0004.png');
}

#main-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 9.0104167%;
  margin-top: 7vh;
}


/* Header */

header{
    position: fixed;
    width: 100%;
    height: 4vw;
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    opacity: .9;
    transition: .5s opacity;
}

header:hover{
  opacity: 1;
  transition: .5s opacity;
}

nav ul {
  margin: 0px;
  height: 100%;
  display: flex;
}

nav li {
  display: flex;
  height: 4vw;
  box-sizing: border-box;
  align-items: center;
  transition: .5s background-color;
}

nav li a{
    display: block;
    text-decoration: none;
    display: inline-block;
    color: white;
    font: bold 1vw "Open Sans";
    padding: 1.3em 3vw;
}

#actual-page {
    border-bottom: 5px solid orange;
    padding-top: 5px
}

nav li:hover {
     background-color: grey;
     transition: .5s;
}

input[type="search"]{
    width: 20vw;
    height: 2vw;
    border: none;
    border-bottom: 1px solid orange;
    background-color: black;
    font: 1.7vw "Open Sans";
    color: white;
    margin-top: 1vw;
}

header form {
  display:inline-block;
  padding-right: min(200px, 5%);
}

input[type="search"]:focus {
  outline:none;
}

input[type="submit"].btn-buscar {
  font-size: 2em;
  color: orange;
  background: none;
  border: none;
}

#one-frame, #vfx, #tutorials {
  background-color: grey;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 30%;
  height: 80%;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font: 2em "Open Sans";
  text-shadow: 0px 4px 6px black;
}

#one-frame, #vfx {
  border-right: 4px solid white;
}



.nombre{
    padding-top: 8vw;
    padding-left: 5vw;
    width: 32vw;
}

.nombre p{
    font: 1.6vw "Open Sans";
    letter-spacing: 1px;
    color: white;
    margin-bottom: 0px;
}

.nombre h1{
    color:white;
    font: 2.9vw "Open Sans";
    margin-top: 0px;
}

.nombre h1 span{
    font: bold 2.9vw "Open Sans";
}

footer {
  width: 100%;
  color: white;
  height: 140px;
}

.redes {
    display: inline-block;
    float: left;
    color: white;
    font: bolder 11px "Open Sans";
    margin-left: 12px;
}

.redes ul {
  list-style: none;
}

.redes li#instagram {
  background: url("../media/imagenes/instagram.png");
}

.redes li#youtube {
  background: url("../media/imagenes/youtube.png");
}
.redes li#be {
  background: url("../media/imagenes/be.png");
}

.redes li#instagram, .redes li#youtube, .redes li#be {
  height: 30px;
  padding-left: 35px;
  background-repeat:no-repeat;
  padding-top: 9px;
}

.redes li a {
  color: white;
  text-decoration: none;
}

.ultimos-renders{
    display: flex;
    float: right;
    width: calc(150px + 38vw);
    min-height: 100%;
    background-color:rgba(255, 255, 255, 0.15);
    color: black;

}
.ultimos-renders img{
    display: inline-block
}

.texto-ultimo-render h1{
    display:block;
    vertical-align: top;
    font: bold 13px "Open Sans";
    color:white;
    background-color:black;
    width: 110px;
    text-align: center;
    margin-bottom: 0px;
}

.texto-ultimo-render p{
    display:block;
    font: bold 13px "Open Sans";
    color:white;
    margin: 0px;
    overflow-wrap: break-word;
    background-color: rgba(0,0,0,.8)
}

.texto-ultimo-render{
    display: inline-block;
    vertical-align: top;
    padding-left: 1vw;
}



.foto-autor-carta{
    position: sticky;
    display: inline-block;
    margin-top: 100px;
    margin-left: -100px;
    width: 350%;
    min-width: 400px;
    z-index: -1;
}

.foto-autor{
    width:100%;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 400px;
}

main#with-me {
  height: 100%;
  display: flex;
}

.text-with-me {
    display: inline-block;
    color: white;
    font-size:calc(10px + 1.5vw);
    font-weight: bold;
    font-family: "Open Sans";
    text-transform:uppercase;
    margin-top: calc(80px + 7.5vw);
    letter-spacing: 2px;
    height: contain;
}

.text-with-me > h1 {
  margin: 0px 0px;
}

.text-with-me > p {
  font-weight: normal;
  text-transform: none;
  margin: 20px 0px;
  font-size: 1em;
}

.text-with-me article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}


.text-with-me article p {
  font-weight: normal;
  text-transform: none;
  margin: 20px 0px;
  font-size: .65em;
}

@media screen and (max-width: 1300px) {
header {
  height: 53px;
}

nav li {
  height: 100%;
}

nav li a, input.buscador {
  font-size: 14px;
}

section.nombre {
  padding-top: min(100px);

}
@media screen and (max-width: 1030px) {
  body#gallery {
    height: auto;
  }
  figure.foto-autor-carta {
    margin-right: 0px;
  }

  .text-with-me {
    margin-top: 120px;
    margin-right: 20px;
  }

  .text-with-me article {
    display: block;
  }

  .text-with-me h1 {
    text-align: center;
  }

  main#main-gallery {
    flex-direction: column;
  }

  main#main-gallery #one-frame, main#main-gallery #vfx, main#main-gallery #tutorials {
    width: 90%;
    border-right: none;
    min-height: 500px;
  }

  @media screen and (max-width: 980px) {
    section.nombre {
      width: auto;
    }
    section.nombre p {
      font-size:16px;
    }

    section.nombre h1 {
      font-size:28px;
    }

    section.nombre h1 span {
      font-size:28px;
    }
    @media screen and (max-width: 620px) {

      body {
        padding-bottom: 20px;
      }
      
      header {
        display: flex;
        justify-content: center;
        top: 0px;
      }

      header form {
        visibility: hidden;
        display: none;
      }

      figure.foto-autor-carta {
        display: none;
      }

      section.text-with-me {
        text-align: center;
        margin-left: 20px;
        background-color: rgba(0,0,0, .9);
        border: 1px solid grey;
        padding: 10px;
      }

      body#about-me {
        background-image: url("/media/imagenes/foto-elias.jpg");
      }

      header nav ul {
        padding-left: 0px;
      }

      .nombre {
        text-align: center;
      }

      footer {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        place-items: center;
        bottom: 20px;
        padding-bottom: 20px;
      }

      section.redes {
        float: none;
      }

      section.redes ul {
        padding-left: 0px;
      }
      section.ultimos-renders {
        margin-top: 60px;

      }

    }
  }
}
}

@media screen and (min-width: 2315px) {
  .nombre h1{
      font: 2.7vw "Open Sans";
  }
}
